<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../css/login_cadastro/login_cadastro.css">
  <title>Login e Cadastro</title>
</head>

<body>
  <!-- Container Principal -->
  <div class="container">
    <!-- Seção de Login e Cadastro -->
    <div class="login_cadastro">
      <!-- Formulário de Login -->
      <form action="/login" method="POST" class="acessar_form">
        <h2 class="title">Login</h2>
        <!-- Campo de Nome de Usuário -->
        <div class="grupo-campo">
          <i class="fas fa-user"></i>
          <input type="text" id="login-nome" name="nome" placeholder="Digite seu nome de usuário" required>
        </div>

        <!-- Campo de Senha -->
        <div class="grupo-campo">
          <i class="fas fa-lock"></i>
          <input type="password" id="login-senha" name="senha" placeholder="Digite sua senha" required>
        </div>

        <!-- Link "Esqueceu sua senha?" -->
        

        <!-- Botão de Login -->
        <div class="grupo-botoes">
          <button type="submit">Entrar</button>
        </div>

        <!-- Redes Sociais -->
        <div class="social-media">
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-google"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-discord"></i></a>
        </div>
      </form>
      <p class="account-text">Não tem uma conta? <a href="" id="sing-up-bnt2">entrar</a></p>
      <!-- Formulário de Cadastro -->
      <form action="/cadastro" method="POST" class="cadastro_form">
        <h2 class="title">Cadastro</h2>
        <!-- Campo de Nome de Usuário -->
        <div class="grupo-campo">
          <i class="fas fa-user"></i>
          <input type="text" id="cadastro-nome" name="nome" placeholder="Digite seu nome de usuário" required>
        </div>

        <!-- Campo de E-mail -->
        <div class="grupo-campo">
          <i class="fas fa-envelope"></i>
          <input type="email" id="cadastro-email" name="email" placeholder="Digite seu e-mail" required>
        </div>

        <!-- Campo de Senha -->
        <div class="grupo-campo">
          <i class="fas fa-lock"></i>
          <input type="password" id="cadastro-senha" name="senha" placeholder="Crie uma senha" required>
        </div>

        <!-- Botão de Cadastro -->
        <div class="grupo-botoes">
          <button type="submit">Cadastrar</button>
        </div>

        <!-- Redes Sociais -->
        <div class="social-media">
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-google"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-discord"></i></a>
        </div>
      </form>
    </div>
    <p class="account-text">já tem uma conta? <a href="" id="sing-in-bnt2">inscreva-se</a></p>

    <!-- Painéis -->
    <div class="paineis-container">
      <!-- Painel Esquerdo -->
      <div class="panel left-panel">
        <div class="content">
          <h3>Entre na sua conta</h3>
          <p>Acesse sua conta para gerenciar seu time, criar scrims e participar dos melhores torneios competitivos online.</p>
          <button class="btn" id="sign_in_btn">Fazer login</button>
        </div>
        <img src="../img/svg/cad2.svg" alt="Gamer_imagem" class="image">
      </div>

      <!-- Painel Direito -->
      <div class="panel right-panel">
        <div class="content">
          <h3>Criar uma conta</h3>
          <p>Entre para competir nos melhores torneios e scrims! Monte seu time, desafie adversários e conquiste a vitória.</p>
          <button class="btn" id="sign_up_btn">Inscrever-se</button>
        </div>
        <img src="../img/svg/log1.svg" alt="Gamer_imagem" class="image">
      </div>
    </div>
  </div>

  <!-- JavaScript -->

  <script src="../js/login_cadastro/roll.js"></script>
  <script src="../js/login_cadastro/alth.js"></script>
</body>

</html>