<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
  integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../css/login.css">
  <title>Login e Cadastro</title>
  <style>
    /* Estilos CSS podem ser adicionados aqui */
  </style>
</head>

<body>
  <!-- Seção de Login -->
  <div class="container">
   <div class=" login_cadastro">
  <form action="" class="entrar">
      <h2 class="title">Login</h2>
      <!-- Campo de Nome de Usuário -->
      <div class="grupo-campo">
        <i class="fas fa-user"></i>
        <input type="text" id="usuario" name="usuario" placeholder="Digite seu nome de usuário" required>
      </div>
      
      <!-- Campo de Senha -->
      <div class="grupo-campo">
        <i class="fas fa-lock"></i>
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
      </div>
      
      <!-- Botões -->
      <div class="grupo-botoes">
        <button type="submit"></button>
        <a href="#" class="botao-esqueci-senha"></a>
  
      </div>
     <div class="social-media">
      <i class="fab fa-facebook"></i>
      <a href="#" class="social-icon"></a>
     
      <i class="fab fa-google"></i>
      <a href="#" class="social-icon"></a> 

      <i class="fab fa-discord"></i>
      <a href="#" class="social-icon"></a>
     </div>
    </form>

    <form class="flogin_cadastro">
        <h2 class="title">Cadastro</h2>
        
        <!-- Campo de Nome de Usuário -->
        <div class="grupo-campo">
          <i class="fas fa-user"></i>
          <input type="text" id="cadastro-usuario" name="usuario" placeholder="Escolha um nome de usuário" required>
        </div>
        
        <!-- Campo de E-mail -->
        <div class="grupo-campo">
          <i class="fas fa-envelope"></i>
         
          <input type="email" id="cadastro-email" name="email" placeholder="Digite seu e-mail" required>
        </div>
  
        <!-- Campo de Senha -->
        <div class="grupo-campo">
          <i class="fas fa-lock"></i>

          <input type="password" id="cadastro-senha" name="senha" placeholder="Crie uma senha" required>
        </div>
  
        <!-- Botão de Cadastro -->
        <div class="grupo-botoes">
          <button type="submit">Cadastrar</button>
          
          <div class="social-media">
            <i class="fab fa-facebook"></i>
            <a href="#" class="social-icon"></a>
           
            <i class="fab fa-google"></i>
            <a href="#" class="social-icon"></a> 
      
            <i class="fab fa-discord"></i>
            <a href="#" class="social-icon"></a>
           </div>
        </div>
      </form>
  </div>
  </div>


  
</body>
</html>
