<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Cadastro</title>
</head>
<body>
  <!-- Tela de cadastro -->
  <div class="signup_main">

    <!-- Tela da esquerda de apresentação -->
    <div class="signup_right">
      <h1>Crie sua conta <br> para acessar o nosso site!</h1>
    </div>

    <!-- Tela da direita de formulário de cadastro -->
    <div class="signup_left">
      <form action="#" method="post">
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" placeholder="Digite seu nome" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Digite seu Email" required>

        <label for="password">Senha</label>
        <input type="password" name="password" id="password" placeholder="Digite sua Senha" required>

        <button type="submit">Cadastrar</button>
        
        <p>Já tem uma conta? <a href="login.html">Faça login</a></p>
      </form>
    </div>

  </div>
</body>
</html>
